<header th:fragment="cabecalho">
    <div class="navbar d-flex justify-content-center" style="background-color: #026302;">
        <a href="/" style="text-decoration: none;">
            <h1 class="h1 my-2" style="color: white; font-family:'Oswald';">
                Calculadora de notas
            </h1>
        </a>
    </div>
</header>

<footer th:fragment="rodape" class="my-3">
    <span class="fst-italic d-flex justify-content-center">Feito por: Arthur de Sá Tenório</span>
    <span class="fst-italic d-flex justify-content-center">Calculadora de notas — 2024</span>
    <span class="fst-italic d-flex justify-content-center">Versão atual: 1.2</span>
    <div class="d-flex justify-content-center mt-2">
        <img th:src="@{/images/brasao2.png}" alt="Logo" width="280" height="100">
    </div>
</footer>